body{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}
.menue{
    background-color: rgb(7, 6, 6);
    padding: 10px;
    color: rgb(201, 45, 45);
    font-size: 30px;
    list-style: none;
}

